:root {
    --udacity-blue: #02b3e4;
    --dark: #2d3c49;
    --steel: #7d97ad;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    margin: 1em;
}

header {
    text-align: center;
}

.main-project {
    border-top: 5px solid var(--steel);
    margin-top: 3em;
    padding-top: 3em;
}

.featured-work-container {
    list-style: none;
    padding-left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-work-container li {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;
    padding: 1em;
    width: 85%;
}

#swatch-1 {
    background-color: var(--udacity-blue);
}

#swatch-2 {
    background-color: var(--dark);
}

#swatch-3 {
    background-color: var(--steel);
}

img {
    max-width: 100%;
}

.color-swatches {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.color-swatches li {
    flex: 0 1 30%;
    text-align: center;
}

.swatch {
    min-height: 7em;
}
